.cam_mediaimagepicker {
    padding: 20px;
    font-size: 14px;
    color: #d9d9d9;
    text-align: center;
    border: 1px dashed #d9d9d9;
    width: 70%;
    display: inline-block;
    margin: 2em auto;
    display: block;
}

.cam_mediaimagepicker i {
    font-size: 3em;
    line-height: 1;
}

.cam_mediaimagepicker:hover, .cam_mediaimagepicker:focus {
    text-decoration: none;
}

.caption-container input[type=text] {
    position: relative;
    top: -5px;
    width: 100%;
    padding: 0.8em 0.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.umb-cropper-gravity .overlay {
    display: none;
}

.cropList .current {
    border: 2px solid rgba(83, 169, 63, .35) !important;
}